.pet-short-text{
    color:#003300;
}
.category{
    display: inline;
    text-align: center;
    background-color:   #e6e6e6;
    padding-bottom: 20px;
    border: 2px solid black;
}
.color{
    color:#993366;
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
}
.colorback{
    background-color:  #f2f2f2;
  
}
 
.margin{
    margin-left: 25px;
}

p{
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 17px;
}


.navbar-nav{
    
   text-align: center;
    font-size: 17px;
    
}
 
.polariod {
    
  background-color: white;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  height: auto;     
  
}  
.polariod-green{
    text-align: center;
    margin: 6px;
    background-color:#003300;
      padding: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
       
}

nav>ul>li >a{
    
     margin-right:10px;
     margin-left: 7px;
    color: white;
 
}
.marg{
    margin-right: 20px;
    margin-right: 20px;
}
.edit{
    
    text-align: left;
}
.edit > label{
    padding-bottom: 10px;
    
}
 
.button{
      vertical-align: bottom;
border: 1px solid #888;
text-decoration: none;
display: inline-block;
padding: 10px 10px;
font-weight: bold;
color:#000;
margin-bottom: 15px;
margin-top: 15px;   
}
 
    .grayscale:hover{ 
   
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
 
.table {
    border-collapse: collapse;
    width: 100%;
}
 
.table thead th{
    color: white; 
    background-color: #990033;
    padding: 3px 5px;
 
}
 .table tbody th,
.table tbody td{
    border-bottom: 1px solid #844;
    padding: 2px 5px;
    
}
.small-image{
    width: 300px;
    height: auto;
}
.info-color{
    margin-top: 10px;
    background-color: #993366;
    color: white;
    text-decoration: none;
}
.info-color:hover{
    background-color:white;
    color:  #993366;
    text-decoration: none;
    border: 1px solid #993366;
}
.padd{
    margin-left: 10px;

}

.text{
   
    color: whitesmoke;
    margin: 10px 25px;
    font-style: italic;
}
.short{
    margin: 10px;
     
}
footer{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color:#003300;
    text-align: center;
  
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 